<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Users With Roles</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th style="width: 10%;">
                User ID
              </th>
              <th style="width: 30%;">
                User Name
              </th>
              <th style="width: 40%;">
                Active Roles
              </th>
              <th style="width: 20%;">
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.roles}}</td>
                <td><button class="btn btn-danger" (click) = "editRoleModal(user)">Edit Roles</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>