<div class="main-content">
    <div class="container-fluid">
      <form (ngSubmit)="createoneModule()" #registerForm="ngForm" >
        <input type="text" id="modulename"[(ngModel)]="tempModelForAdd.moduleName"  name="moduleName" placeholder="Module name" class="form-control col-md-4">
        <br>
        <input type="submit" value="Create Module" class="btn btn-success" >
      </form>
    </div>
    <table class="table table-bordered">
      <thead>
          <tr style="text-align: center">
            <th scope="col">Ordinal number</th>
            <th scope="col">Module Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of modules;let i=index" style="text-align: center;">
              <td> {{i+1}}</td>
              <td>{{ item.moduleName}}</td>
              <td class="td-actions text-center" >
                <button mat-raised-button type="button"(click)="sendIdModule(item.moduleID,item.moduleName)"
                matTooltip="Edit Task" [matTooltipPosition]="'above'" data-toggle="modal" data-target="#buy"
                class="btn btn-primary btn-link btn-sm btn-just-icon" style="margin-right: 20px;">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button type="button"  (click)="confirmDelete(item)" 
                matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">close</i>
                </button>
            </td>
            </tr>
        </tbody>
  </table>
  </div>
  <div style="margin-left: 30%;">
   <select class='form-control col-md-4'  #mySelect style="background-color: #05FCE2;"
      (change)='onOptionsSelected(mySelect.value)'>
    <option class='form-control'   *ngFor='let item of modules' 
    [value]="item.moduleID">{{item.moduleName}}</option>
   </select>
  </div>


  <div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="margin-top">
                  Update Module
                </h4>
                <div class="separator"></div>
                <label for="ModuleNameID">Module Name</label>
                <input value="{{oneModuleUpdate.moduleName}}" class="form-control" id="ModuleNameID"[(ngModel)]="oneModuleUpdate.moduleName" >
                <br>
                <button (click)="updateModule(modules)" class="btn btn-primary"  data-dismiss="modal" >Update</button>
            </div>
        </div>
    </div>
  </div>
