
<div class="main-content">
  <div class="container-fluid">
    <form (ngSubmit)="createoneDiscipline()" #registerForm="ngForm" >
      <input type="text" id="disciplinename"[(ngModel)]="tempModelForAdd.disciplineName"  name="disciplineName" placeholder="Discipline name" class="form-control col-md-4">
      <br>
      <input type="submit" value="Create Discipline" class="btn btn-success" >
    </form>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr style="text-align: center;">
              <th scope="col">Ordinal number</th>
              <th scope="col">Discipline Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of disciplines;let i=index" style="text-align: center;">
                <td> {{i+1}}</td>
                
                <td>{{item.disciplineName}}</td>
                <td class="td-actions text-center" >
                  <button mat-raised-button type="button"(click)="sendIdDiscipline(item.disciplineID,item.disciplineName)"
                  matTooltip="Edit Task" [matTooltipPosition]="'above'" data-toggle="modal" data-target="#buy"
                  class="btn btn-primary btn-link btn-sm btn-just-icon" style="margin-right: 20px;">
                      <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button"  (click)="confirmDelete(item)" 
                  matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                  </button>
              </td>
              </tr>
          </tbody>
    </table>
  </div>
</div>
<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="margin-top">
                  Update Discipline
                </h4>
                <div class="separator"></div>
                <label for="DisciplineID">Discipline Name</label>
                <input value="{{oneDisciplineUpdate.disciplineName}}" class="form-control" id="DisciplineID"[(ngModel)]="oneDisciplineUpdate.disciplineName" >
                <br>
                <button (click)="updateDiscipline(disciplines)" class="btn btn-primary"  data-dismiss="modal" >Update</button>
            </div>
        </div>
    </div>
  </div>



<div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#createModuleRA">Create Module Reactive Form</button>
  <div class="modal modal-angular fade" id="createModuleRA" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="margin-top">
                  Create Discipline
                </h4>
                <!-- Create Discipline Form -->
                <div class="container">
                  <form [formGroup]="disciplineFormForCreate" (ngSubmit)=createDiscipline01()>
                    <hr>
                  
                    <!-- Discipline Name -->
                    <div class="form-group">
                      <input type="text"
                        [ngClass]="{'is-invalid': disciplineFormForCreate.get('DisciplineName').errors && disciplineFormForCreate.get('DisciplineName').touched}"
                        class="form-control is-invalid" required formControlName="DisciplineName" placeholder="Discipline Name">
                  
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('DisciplineName').hasError('required') && disciplineFormForCreate.get('DisciplineName').touched">
                        Please fill Discipline name
                      </div>
                    </div>

                     <!-- Discipline Description -->
                     <div class="form-group">
                      <input type="text"
                        [ngClass]="{'is-invalid': disciplineFormForCreate.get('description').errors && disciplineFormForCreate.get('description').touched}"
                        class="form-control is-invalid" required formControlName="description" placeholder="Description">
                  
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('description').hasError('required') && disciplineFormForCreate.get('description').touched">
                        Please fill Description
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('description').hasError('maxlength') && disciplineFormForCreate.get('description').touched">maxlength is 200
                      </div>
                    </div>
                    
                    <!-- Discipline Code -->
                    <div class="form-group">
                      <input type="text"
                        [ngClass]="{'is-invalid': disciplineFormForCreate.get('DisciplineCode').errors && disciplineFormForCreate.get('DisciplineCode').touched}"
                        class="form-control is-invalid" required formControlName="DisciplineCode" placeholder="DisciplineCode (Example: W082019)">
                  
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('DisciplineCode').hasError('minlength') && disciplineFormForCreate.get('DisciplineCode').touched">minlength is 4
                      </div>
                  
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('DisciplineCode').hasError('required') && disciplineFormForCreate.get('DisciplineCode').touched">Password requied
                      </div>
                  
                      <div class="invalid-feedback"
                        *ngIf="disciplineFormForCreate.get('DisciplineCode').hasError('maxlength') && disciplineFormForCreate.get('DisciplineCode').touched">maxlength is 10
                      </div>
                    </div>
                
                    <!-- dropdonwlist select Discipline Parent -->
                    
                    <div style="margin-left: 10%;">
                      <span style="margin-left: 20px;"> Discipline Parent</span>
                      <select class='form-control col-md-12'   #mySelect style="padding-left: 20px;"
                         (change)='onOptionsSelected(mySelect.value)' formControlName="parentId">
                         <option class="form-control" value="0" disabled> Please choose Discipline Parent</option>
                         <option class="form-control" value="2f3d84d2-94f3-478c-8558-77d92fcf89cc"> No Parent</option>
                       <option class='form-control'   *ngFor='let item of disciplines' 
                       [value]="item.disciplineID">{{item.disciplineName}}</option>
                      </select>
                     </div>
                    <div class="form-group text-center">
                      <button class="btn btn-success" [disabled]="!disciplineFormForCreate.valid" type="submit">Create Discipline 01</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>




