<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Create new exam</h4>
                <p class="card-category">New exam will be genereted</p>
            </div>
            <div class="card-body">
              <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
                  <mat-form-field>
                    <mat-label>Select a discipline</mat-label>
                    <mat-select formControlName="discipline">
                      <mat-option>None</mat-option>
                      <mat-option value="{{item.disciplineID}}" *ngFor="let item of disciplines">{{item.disciplineName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <app-part-exam [disciplineId]="examForm.get('discipline').value"></app-part-exam>
                  <br />
                  <input type="submit" value="Generate exam" class="btn btn-block btn-warning" />
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>