<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)=register()>
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
  
    <!-- username -->
    <div class="form-group">
      <input type="text"
        [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
        class="form-control is-invalid" required formControlName="username" placeholder="Username">
  
      <div class="invalid-feedback"
        *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
        Please choose a username
      </div>
  
    </div>
  
    <!-- password -->
    <div class="form-group">
      <input type="password"
        [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
        class="form-control is-invalid" required formControlName="password" placeholder="Password">
  
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">minlength is 4
      </div>
  
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password requied
      </div>
  
      <div class="invalid-feedback"
        *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">maxlength is 10
      </div>
  
    </div>
  
    <!-- confirmpassword -->
    <div class="form-group">
      <input type="password" [ngClass]="{'is-invalid':   registerForm.get('confirmPassword').errors 
                              &&  registerForm.get('confirmPassword').touched
                              ||  registerForm.get('confirmPassword').touched
                              &&  registerForm.hasError('mismatch')}" class="form-control is-invalid"
        formControlName="confirmPassword" placeholder="Confirm Password">
  
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
          && registerForm.get('confirmPassword').touched">
        Confirm Password requied
      </div>
  
      <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch')
          && registerForm.get('confirmPassword').touched">
        Mismatch
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    </div>
  </form>
</div>