<nav class="navbar navbar-expand-lg navbar-lumen bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/client']">ELEANING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="exam">
          <a class="nav-link" [routerLink]="['/exam']">Exam</a>
        </li>
      </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <span class="ml-1">
          <img src="{{'../../assets/img/BlankUser.png'}}" alt="">
        </span>
        <a class="dropdown-toggle text-primary" dropdownToggle>
          Welcome {{authService.decodeToken.unique_name}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/admin/dashboard']">
            <i class="fa fa-user">Go to Admin</i>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item fa fa-sign-out" (click)=logout()>Log out</a>
        </div>
      </div>
    </div>
  
    <div>
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="userName" placeholder="User Name" required
          [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
          [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
    <div><button *ngIf="!loggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="registerModal()">Register</button></div>
  </div>
</nav>