<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Test Exam Detail</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Question Content
                                    </th>
                                    <th>
                                        Number of Respond
                                    </th>
                                    <th>
                                        Tool
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of exam.questions">
                                        <td>
                                            <a data-toggle="modal" (click)="getQuestionContent(item)" data-target="#examdetailmedia" matTooltip="Show Media Content" [matTooltipPosition]="'above'"><img width="50px" height="50px" src="{{item.mediaUrl}}"></a> {{item.questionContent}}
                                        </td>
                                        <td>
                                            {{item.responds.length}}
                                        </td>
                                        <td>
                                            <a data-toggle="modal" (click)="getQuestionID(item)" data-target="#examdetail" matTooltip="Show All Respond" [matTooltipPosition]="'above'"><i class="material-icons">list</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-angular fade" id="examdetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="separator">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Respond Content
                                </th>
                                <th>
                                    True Or False
                                </th>

                                <th>
                                    Respond Status
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let res of questionRespond.responds">
                                    <td>
                                        <a data-toggle="modal" (click)="getRespondContent(res)" data-target="#examdetailrespondmedia" matTooltip="Show Respond Media Content" [matTooltipPosition]="'above'"><img width="50px" height="50px" src="{{res.mediaUrl}}"></a>
                                        {{res.respondContent}}

                                    </td>
                                    <td>
                                        {{res.isTrue}}
                                    </td>

                                    <td>
                                        {{respondStatus[res.respondStatus]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal modal-angular fade" id="examdetailmedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="separator">
                    <img width="465px" height="300px" src="{{questionContent.mediaUrl}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-angular fade" id="examdetailrespondmedia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="separator">
                    <img width="465px" height="300px" src="{{respondContent.mediaUrl}}">
                </div>
            </div>
        </div>
    </div>
</div>