<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <form class="form-inline" #form="ngForm" (ngSubmit)="loadExams()" novalidate>


                            <mat-form-field>
                                <mat-label>Select Discipline</mat-label>
                                <mat-select [(ngModel)]="examParams.disciplineID" name="disciplineID">
                                    <mat-option *ngFor="let item of disciplines" [value]="item.disciplineID">
                                        {{item.disciplineName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Select Module</mat-label>
                                <mat-select [(ngModel)]="examParams.moduleID" name="moduleID">
                                    <mat-option *ngFor="let item of modules" [value]="item.moduleID">
                                        {{item.moduleName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <button type="submit" class="btn btn-primary">Apply Filters</button>
                            <button type="button" class="btn btn-info" (click)="resetFilters()">Reset Filter</button>
                            <button type="button" class="btn btn-success" [routerLink]="['/admin/exam/create']">Create New Exam</button>

                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Test Exam Name
                                    </th>
                                    <th>
                                        Test Exam Status
                                    </th>

                                    <th>
                                        Discipline Name
                                    </th>
                                    <th>
                                        Module Name
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of exams">
                                        <td>
                                            <a href="" [routerLink]="['/admin/exam/', item.testExamID]">{{item.testExamName}}</a>
                                        </td>
                                        <td>
                                            {{examStatus[item.testExamStatus]}}
                                        </td>

                                        <td>
                                            {{item.disciplineName}}
                                        </td>
                                        <td>
                                            {{item.moduleName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

            </pagination>
        </div>
    </div>
</div>