<fieldset class="border">
  <legend class="w-auto"><h4>exam include</h4></legend>
  <span *ngIf="!parts" class="text-danger">None of the parts</span>
  <mat-checkbox *ngFor="let part of parts">{{part.disciplineName}}</mat-checkbox>
</fieldset>
